---
import PostHeader from './PostHeader.astro';
import TextBlock from './TextBlock.astro';
import Share from './Share.astro';

interface Props {
  title: string;
  date: Date;
  category?: {
    id: string;
    title: string;
    icon: string;
  };
  url: string;
}

const { title, date, category, url } = Astro.props;
---

<div class="post-details">
  <PostHeader
    mode="details"
    title={title}
    date={date}
    category={category}
  />
  {title && <Share title={title} url={url} />}
  <TextBlock>
    <slot />
  </TextBlock>
</div>

<style>
  .post-details {
    font-size: var(--text-size);
    padding: 2em 2em 4em;
  }
</style>
